[submodule "docs/ecosystem/tools/blender"]
	path = docs/ecosystem/tools/blender
	url = https://github.com/vircadia/vircadia-world-blender-tools.git
[submodule "docs/ecosystem/server"]
	path = docs/ecosystem/server
	url = https://github.com/vircadia/vircadia-world-server.git
[submodule "docs/ecosystem/sdk/typescript"]
	path = docs/ecosystem/sdk/typescript
	url = https://github.com/vircadia/vircadia-world-sdk-ts.git
[submodule "docs/ecosystem/sdk/python"]
	path = docs/ecosystem/sdk/python
	url = https://github.com/vircadia/vircadia-world-sdk-py.git
